# Dependency directory
node_modules
log

# public files
public/components

# data files
data/database/lectures/
data/database/rawdata/
data/database/videolectures_*.js

test/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
