/***************************************
 * Body style
 */
html, body {
    background-color: #F2F6F8;
    width:  100%;
    height: 100%;
}

.container,
.body-content,
.explorer-search-and-visual {
    width:      100%;
    min-height: 100%;
    height:     1250px;
    padding:    0px;
}

/**********************************************
 * Dashboard
 */

@media screen and (min-width:992px) {
    .project-info-content {
        min-height:100%;
        width:  233px;
        height: 1250px;
        z-index: 100;
        padding: 10px;
        overflow-y: hidden;
        background-color: #222d32;
        position: absolute;
        float: left;
    }

    .project-info-text {
        color: white;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 3px;
        border: 1px solid #374850;
    }

        .project-info-text h4 {
            padding-bottom: 30px;
        }
        .project-info-text h4.about-edsa {
            padding-top: 30px;
        }


        .project-info-text p {
            color: lightgrey;
        }

    .explorer-body {
        width: calc(100% - 231px);
        margin-left: 231px;
    }
}

@media screen and (max-width: 992px) {
    .project-info-content {
        display: none !important;
    }
    .explorer-body {
        width: 100%;
        margin-left: 0px;
    }
}

.body-container {
    width:      100%;
    min-height: 100%;
    height:     auto !important;

}

.explorer-body {
    float:    right;
    position: absolute;
}

.footer {
    position: relative;
    display: block;
    clear: both;
    margin-top: -50px;
    height: 50px;
    padding-top: 20px;
    background-color: #FFFFFF; 
}

.row {
    margin-left:  0px;
    margin-right: 0px;
    width: 100%;
}