/**************************************
 * Body style
 */
html, body {
    background-color: #F2F6F8;
    width:  100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.body-content {
    min-height: 90%;
}


/**************************************
 * Dashboard
 */

.header-title {
    color:      grey;
    text-align: center;
    margin: 50px 10px 30px 10px;
}

.explorer-body {
    min-height: 100%;
}

    .explorer-body .btn {
        border-radius: 0px;
    }
    .explorer-body input,
    .explorer-body .bootstrap-tagsinput {
        border-radius: 0px;
    }


.footer {
    position: relative;
    display: block;
    clear: both;
    height: 50px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.modal-content {
    background-color: #4086AB;
    color: #FFFFFF;
}
