/* Body stylz */
html, body {
    background-color: #F2F6F8;
    width: 100%;
    height: 100%;
}

.navbar-default {
    border-color: #408EB8;
    border-radius: 0px;
}

.navbar-header a.navbar-brand,
.navbar-default .navbar-nav li a {
    color: white;
    font-size: 20px;
    float: left;
    padding-right: 35px;
    padding-left: 35px;
}

.navbar-header a > .main {
    font-weight: 600;
}

.navbar-header a > .secondary {
    font-weight: 500;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-header a,
.navbar-header a.navbar-brand:hover {
    background-color: #4086AB;
}

    .navbar-header a.navbar-brand:hover,
    .navbar-default .navbar-nav li a:hover {
        color: white;
        text-decoration: underline;
    }

.navbar.navbar-default {
    background-color: #408EB8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F2F6F8;
}

.btn, btn:hover,
button.navbar-toggle.collapsed,
button.navbar-toggle {
    background-color: #5BAEDB !important;
    color: white !important;
    font-weight: 500;
}

.dashboard-body {
    margin-top: 20px;
}

@media screen and (min-width:992px) {
    .project-info-container {
        min-height:100%;
        width: 231px;
        overflow-y: hidden;
        height: auto !important;
        height: 100%;
        padding: 10px;
        background-color: #1C2F3A;
        float:left;
    }

    .project-info {
        color: white;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid;
        border-color: grey;
        border-radius: 5px;
    }

        .project-info h4 {
            padding-bottom: 30px;
        }

        .project-info p {
            color: lightgrey;
        }

    .dashboard-body {
        margin-left: 231px;
    }
}

@media screen and (max-width: 992px) {
    .project-info-container {
        display: none !important;
    }
    .dashboard-body {
        margin-left: 20px;
    }
}

.main-title {
    color:      grey;
    text-align: center;
    margin: 50px 10px 30px 10px;
}

#body-container {
    width: 100%;
    padding:0px;
    position:absolute;
    top:51.5px;
    bottom:0px;
}

.modal-content {
    background-color: #4086AB;
    color: #FFFFFF;

    
}

/* Search options stylz */

#advance-options {
    display:none;
}

.row {
    margin-left:0px;
    margin-right:0px;
    width:100%;
}

.pull-right {
    margin-left: 10px;
}
#span-basic-search-buttons {
    display: table-cell;
}

#span-basic-search {
    display:table-cell;
    width: 100%;
}

#basic_search,
.bootstrap-tagsinput {
    width: 100%;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-dataset .tt-suggestion:hover,
.tt-cursor {
    font-weight: 600;
    background-color: #F2F6F8;
}

.tag {
    border-radius: 20px;
    font-size:     12px;
}

.tt-input {
    width: 100%;
}

.dropdown-menu {
    min-width: 50px;
}

/* Landscape visualization stylz */

#wait-content {
    width: 100px;
    height: 700px;
    display: none;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.center-block {
    align-content: center;
}

#landscape-content {
    height: 700px;
    display: none;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid;
    border-color: #4086AB;
}

#land-container {
    width: 100%;
    border-radius: 25px;
    background-color: white;
}

#landscape-tooltip {
    position: absolute;
    display: block;
    color: white;
    height: auto;
    width: auto;
    padding: 3px 5px;
    border-radius: 5px;
    max-width: 500px;
    background-color: rgba(40, 12, 145, 0.8);
}

.search-info-container {
    width:    100%;
    overflow: auto;
    max-height: 700px;
    position: relative;
    display:  none;
    margin:        auto;
    margin-top:    20px;
    margin-bottom: 20px;
    padding:       10px;
    border:       1px solid;
    border-color: lightgrey;
    background-color: white;
}

.search-info h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.graph-options {
    display:none;
}

/* Universal mini stylz */

.notvisible {
    display: none;
    visibility: hidden;
}
